node_modules
.DS_Store
dist
dist-ssr
*.local
.yarn
.pnpm-debug.log
licenses.csv

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
!.idea/runConfigurations/
!.idea/saveactions_settings.xml
!.idea/externalDependencies.xml

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Testing Reports, Audit Reports
reports/
coverage/
